
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->

  <title>Notice Me - 通知提醒小工具</title>
    <link rel="icon" type="image/ico" href="https://s2.ax1x.com/2019/08/14/mkAbOP.png">

  <meta name="description" content="NoticeMee">
  <meta name="keywords" content="notice">
  <meta name="author" content="Rui">
  <!-- CSS dependencies -->
<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.css" rel="stylesheet">
<!-- Include the FontAwesome CSS if you want to use feedback icons provided by FontAwesome -->
<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"> -->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.js"></script>
  <!-- <link rel="stylesheet" href="static\css\wireframe.css"> -->


</head>

<body>
<div class="jumbotron">
  <h1 class="display-3">Notice Me</h1>
  <p class="lead">欢迎访问NoticeMe的小工具。<em>Notice Me</em>是用于提醒到期事项的小工具，目的是<strong>防止多年/月之后遗忘</strong>，因为我们有一个烂记性！</p></p>
  <hr class="my-4">
  <p>这个小工具用来提醒工作中容易忘记的事情，当然你也可以用作提醒生活中的内容，但是需要把这个和工作圈的提醒分开。</p>

</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">项目圈</th>
      <th scope="col">地址</th>
      <th scope="col">使用人</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>人力部</td>
      <td><a href="/">Index</a></td>
      <td>WFCMCC工作圈</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Myself</td>
      <td><a href="/dep-myself">Myself</a></td>
      <td>保留自用</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>YC工作圈</td>
      <td><a href="/dep-YC">YC</a></td>
      <td>测试用途</td>
    </tr>
  </tbody>
</table>



  <div class="py-5 text-muted text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-4">
            <a href="/login/">登录</a> | <a href="/singup/">注册一个账户</a>| <a href="/show/">查看全部提醒</a>| <a href="/logout/">登出</a>
          <p class="mb-1">© 2017-2018 Support By RuiQ</p>
        </div>
      </div>
    </div>
  </div>

</body>

</html>