<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="NoticeMee">
    <meta name="keywords" content="notice">
      <link rel="icon" type="image/ico" href="https://t.anyni.com/icons8-new-message-160.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Notice Me - 全部提醒</title>
  </head>
  <body>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
             <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endif %}
<table class="table table-sm">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">处理人</th>
        <th scope="col">内容</th>

        <th scope="col">通知时间</th>
        <th scope="col">删除</th>
    </tr>
  </thead>
  <tbody>
        {% for i in context %}
            <tr>
        <td scope="row">{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.context }}</td>

        <td>{{ i.notice_date }}</td>
        <td><a href=\show?id={{ i.id }}>删除</a></td>
            </tr>
        {% endfor %}
  </tbody>
</table>

     <div class="py-5 text-muted text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-4">
             <a href="/login/">登录</a> | <a href="/singup/">注册一个账户</a>| <a href="/show/">查看全部提醒</a>| <a href="/logout/">登出</a>
          <p class="mb-1">© 2017-2018 Support By RuiQ</p>
        </div>
      </div>
    </div>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>







